@model IEnumerable<Prodject_ПРІС.Data.ClassRoom>
@{
    ViewData["Title"] = "Home Page";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title></title>
</head>
<body>
    <div class="p-0 bg-info">
        <div class="container">
            <p class="text-center">Student management</p>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.idCr)
                        </th>
                        <th>
                            .
                            @Html.DisplayNameFor(model => model.nameCr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCr)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameCr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCr)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCr">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idCr">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idCr">Delete</a>
            </td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
